echo ".env                                                                                                                                                            ses_f6e70d24affeRdn8a1wmWx6yF1          
     .env.*                                                                                                                                                                                                        
     .opencode/                                                                                                                                                            Context                                 
     opencode.jsonc                                                                                                                                                        13,364 tokens                           
     __pycache__/                                                                                                                                                          0% used                                 
     *.pyc                                                                                                                                                                 $0.00 spent                             
     .pytest_cache/                                                                                                                                                                                                
     .git                                                                                                                                                                  MCP                                     
     .DS_Store" > .gitignore                                                                                                                                               • web_search Connected         
